.container{
text-align: center;
width: 50%;
margin: 0 auto;
 font-family: sans-serif;
box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.3);
margin-top: 120px;
}
header{
    background-color: rgb(71, 71, 230);
    padding: 5px;
    color: white;
    font-weight: bold;
}

.person i{
    padding: 20px;
    font-size: 55px;
    color: blue;
    cursor: pointer;
    
}
.computer i {
    color: red;
    font-size: 55px;
    padding: 20px;
}

.result{
    padding: 10px;
    font-size: 30px;
    font-weight: bolder;
}
.win{
    color: blue;

}

.loss{
    color: red;
}